body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:648px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:648px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:6px;
  width:28px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
