body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3936px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-50px;
  width:850px;
  height:1434px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:3048px;
  top:209px;
  width:750px;
  height:1334px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-50px;
  width:850px;
  height:4100px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:209px;
  width:750px;
  height:4000px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1992px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-50px;
  width:850px;
  height:3748px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:209px;
  width:750px;
  height:3648px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1816px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-50px;
  width:850px;
  height:3848px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2086px;
  top:209px;
  width:750px;
  height:3748px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1866px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:91px;
  width:755px;
  height:91px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:91px;
  width:755px;
  height:91px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2218px;
  top:91px;
  width:755px;
  height:91px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:3181px;
  top:91px;
  width:755px;
  height:91px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  word-wrap:break-word;
}
